<!DOCTYPE html>
<html ng-app="flybrixApp">
    <head>
        <title>Configurator</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link type="text/css" rel="stylesheet" href="./css/style.css" media="all" />
        <link type="text/css" rel="stylesheet" href="./css/lib/jquery-ui.css" media="all" />
        <link type="text/css" rel="stylesheet" href="./css/lib/spectrum.css" media="all" />

        <script type="text/javascript" src="./js/lib/jquery-2.2.0.js"></script>
        <script type="text/javascript" src="./js/lib/jquery-ui.js"></script>
        <script type="text/javascript" src="./js/jquery.flot-flybrix.js"></script>
        <script type="text/javascript" src="./js/lib/jquery.flot.navigate.js"></script>
        <script type="text/javascript" src="./js/lib/three.js"></script>
        <script type="text/javascript" src="./js/lib/three-libs/Stats.js"></script>
        <script type="text/javascript" src="./js/lib/three-libs/STLLoader.js"></script>
        <script type="text/javascript" src="./js/lib/three-libs/OrbitControls.js"></script>
        <script type="text/javascript" src="./js/lib/firebase.js"></script>
        <script type="text/javascript" src="./js/lib/spectrum.js"></script>
        <script type="text/javascript" src="./js/lib/pdf.js"></script>
        <script type="text/javascript" src="./js/lib/angular.js"></script>
        <script type="text/javascript" src="./js/lib/angularfire.js"></script>
        <script type="text/javascript" src="./js/lib/angular-pdf.js"></script>

        <script type="text/javascript" src="./bower_components/flybrix-common/dist/flybrix-common.min.js"></script>

        <script type="text/javascript" src="./js/module.js"></script>

        <script type="text/javascript" src="./js/serial.js"></script>
        <script type="text/javascript" src="./js/plot.js"></script>
        <script type="text/javascript" src="./js/filehandler.js"></script>
        <script type="text/javascript" src="./js/teensy-firmware.js"></script>
        <script type="text/javascript" src="./js/sphere-minimizer.js"></script>
        <script type="text/javascript" src="./js/model-builder.js"></script>
        <script type="text/javascript" src="./js/vehicle-visualizer.js"></script>

        <!-- Various tabs are divided into separate files (for clarity) -->
        <script type="text/javascript" src="./tabs/tuning.js"></script>
        <script type="text/javascript" src="./tabs/sensors.js"></script>
        <script type="text/javascript" src="./tabs/signals.js"></script>
        <script type="text/javascript" src="./tabs/vehicle.js"></script>
        <script type="text/javascript" src="./tabs/motors.js"></script>
        <script type="text/javascript" src="./tabs/led.js"></script>
        <script type="text/javascript" src="./tabs/datastream.js"></script>
        <script type="text/javascript" src="./tabs/config.js"></script>
        <script type="text/javascript" src="./tabs/log.js"></script>

        <script type="text/javascript" src="./js/gallery.js"></script>

        <script type="text/javascript" src="./js/main.js"></script>
    </head>
    <body ng-cloak ng-controller='mainController'>
      <div style="padding: 5px;">
        <div class="bar-top">
          <div class="bar-top-box">
            <div class="datastream-tabs">
              <div class="datastream-serial" ng-show="dataSource=='serial'">
                <select ng-model="deviceChoice" ng-options="device as device for device in devices"></select>
                <div class="button" ng-hide="isConnected()" ng-click="connect()">Connect</div>
                <div class="button" ng-show="isConnected()" ng-click="disconnect()">Disconnect</div>
                <label>
                  <input class="auto_connect" type="checkbox" ng-model="autoConnect"/>
                  <span class="auto_connect">Auto Connect</span>
                </label>
                <div class="datastream-report" id="port-usage">0 kpbs </div>
              </div>

              <div class="datastream-replay" ng-show="dataSource=='replay'">
                <div style="height: 30px; margin-top:10px"><div class='filename' id='file'></div><img class='button' ng-click="datastreamReplay.open()" src='/img/open.png'></img></div>
                <div style="height: 20px;"><div class='slider'></div></div>
                <div style="height: 16px; margin-left:30px; margin-top:4px">
                <input type='number' ng-model="datastreamReplay.dataRate" min='0' max='2000' value='100' />
                kbps
                </div>
                <div style="height: 24px; margin-left:60px">
                <img class='button' ng-click="datastreamReplay.play()" src='/img/play.png'></img>
                <img class='button' ng-click="datastreamReplay.pause()" src='/img/pause.png'></img>
                <img class='button' ng-click="datastreamReplay.stop()" src='/img/stop.png'></img>
                </div>
                <div class="datastream-report"> </div>
              </div>
            </div>
          </div>
          <div class="bar-top-box">
            <div class="tab-button" ng-click="goToForums()">
              go to the flybrix forums
            </div>
          </div>
          <div class="bar-top-box">
            <div class="tab-button" ng-hide="viewMode=='basic'" ng-click="viewMode='basic'">
              basic mode
            </div>
            <div class="tab-button" ng-show="viewMode=='basic'" ng-click="viewMode='advanced'">
              advanced mode
            </div>
          </div>
          <div style="clear:left"/>
        </div>
        <div ng-show="viewMode=='advanced'">
            <div class="datastream-buttons">
              Switch to:
              <div class="tab-button" ng-hide="dataSource=='serial'" ng-click="dataSource='serial'">
                serial port
              </div>
              <div class="tab-button" ng-hide="dataSource=='replay'" ng-click="dataSource='replay'">
                replay file
              </div>
            </div>

            <div id="menu" class="tab-button-bar">
                <a class="tab-button" ng-repeat="tab in tabs" ng-click="tabClick(tab)" title="">{{tab.label}}</a>
            </div>
            <div class="tab-content">
                <div ng-repeat="tab in tabs" id="{{tab.url}}" ng-include="'tabs/' + tab.url + '.html'"></div>
            </div>
        </div>
        <div ng-show="viewMode=='basic'">
          <div>
            <select ng-model="modelChoice" ng-options="item as item.label for item in models"></select>
          </div>
          <div vehicle-preview ng-model="modelChoice.model" screen-width="640" screen-height="480"></div>
          <div class="button basic-button" ng-click="viewMode='gallery'">
            build new model
          </div>
        </div>
        <div ng-show="viewMode=='gallery'" ng-controller="galleryController">
          <div>
            <div class="model-type-tile" ng-repeat="item in models" ng-click="setPdfChoice(item)">
              <img ng-src="{{item.image}}" alt="{{item.label}}" />
            </div>
          </div>
          <div style="height:400px">
            <div ng-click="goPrevious()" class="pdf-button">&lt;</div>
            <div class="pdf-border">
              <ng-pdf template-url="templates/assemblyViewer.html" style="width:640px;height:480px" scale="page-fit"></ng-pdf>
            </div>
            <div ng-click="goNext()" class="pdf-button">&gt;</div>
            <div style="clear:left"></div>
          </div>
        </div>
      </div>
    </body>
</html>
