<div ng-controller="configController">
    <div ng-if="recommendedFirmware">
      <div class="firmware-list-title">Recommended firmware</div>
      <firmware-card data="recommendedFirmware"/>
    </div>
    <div class="button view-button" ng-click="loadHexFile">load local firmware</div>
    <div>
        <div style="display: inline-block;">
            <div class='firmware-list-title'>Remote firmwares</div>
            <div class='firmware-list'>
              <div class='firmware-list-inner'>
                <firmware-card ng-repeat="(key, fw) in firmwareRemote" data="fw" callback-right="storeLocalFirmware" label-right="'store'" key='key'/>
              </div>
            </div>
        </div>
        <div style="display: inline-block; margin-left: 20px;">
            <div class='firmware-list-title'>Local firmwares</div>
            <div class='firmware-list'>
              <div class='firmware-list-inner'>
                <firmware-card ng-repeat="fw in firmwareLocal" data="fw.data" callback-right="fw.callbackRight" label-right="'remove'"/>
              </div>
            </div>
        </div>
    </div>

    <filehandler-bar ng-model="configurationFilehandler"/>

    <div class='button view-button' ng-click="eepromRefresh()">refresh from flyer</div>

    <div class='button view-button' ng-click="eepromReinit()">reset factory configuration</div>

    <div ng-show="$root.eepromConfig">
    <p style="margin-bottom: 10px; margin-top: 50px;font-weight: bold;">Configuration data:</p>
    <div class="config-fields" id="current-config">
        <div class="model-entry">
            <span class="model-entry-title">version</span>
            <label class="model-entry-label" ng-repeat="n in ['major','minor','build']">{{n}} (read-only)<output class="model-entry-field">{{$root.eepromConfig.version[$index]}}</output></label>
        </div>
        <div class="model-entry future">
            <span class="model-entry-title">pcbOrientation</span>
            <eeprom-input ng-model="$root.eepromConfig.pcbOrientation[$index]" precision="1" label="{{n}} angle" ng-repeat="n in ['pitch','roll','yaw']"/>
        </div>
        <div class="model-entry future">
            <span class="model-entry-title">pcbTranslation</span>
            <eeprom-input ng-model="$root.eepromConfig.pcbTranslation[$index]" precision="3" label="{{n}} offset" ng-repeat="n in ['x','y','z']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">mixTableFz</span>
            <eeprom-input ng-model="$root.eepromConfig.mixTableFz[$index]" label="CH{{$index}}" ng-repeat="n in [0,1,2,3,4,5,6,7]"/>
        </div>
         <div class="model-entry">
            <span class="model-entry-title">mixTableTx</span>
            <eeprom-input ng-model="$root.eepromConfig.mixTableTx[$index]" label="CH{{n}}" ng-repeat="n in [0,1,2,3,4,5,6,7]"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">mixTableTy</span>
            <eeprom-input ng-model="$root.eepromConfig.mixTableTy[$index]" label="CH{{n}}" ng-repeat="n in [0,1,2,3,4,5,6,7]"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">mixTableTz</span>
            <eeprom-input ng-model="$root.eepromConfig.mixTableTz[$index]" label="CH{{n}}" ng-repeat="n in [0,1,2,3,4,5,6,7]"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">magBias</span>
            <eeprom-input ng-model="$root.eepromConfig.magBias[$index]" precision="3" label="{{n}} offset" ng-repeat="n in ['x','y','z']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">assignedChannel</span>
            <eeprom-input ng-model="$root.eepromConfig.assignedChannel[$index]" label="{{n}}" ng-repeat="n in ['throttle','pitch','roll','yaw','AUX1 (bind)','AUX2 (arm)']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">commandInversion</span>
            <eeprom-input ng-model="$root.eepromConfig.commandInversion" label="bitfield"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">channelMidpoint</span>
            <eeprom-input ng-model="$root.eepromConfig.channelMidpoint[$index]" label="CH{{n}} midpoint" ng-repeat="n in [0,1,2,3,4,5]"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">channelDeadzone</span>
            <eeprom-input ng-model="$root.eepromConfig.channelDeadzone[$index]" label="CH{{n}} deadzone" ng-repeat="n in [0,1,2,3,4,5]"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">thrustMasterPID</span>
            <eeprom-input ng-model="$root.eepromConfig.thrustMasterPIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in ['P','I','D','windup guard','D IIR (sec)','setpoint IIR (sec)','scale factor']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">pitchMasterPID</span>
            <eeprom-input ng-model="$root.eepromConfig.pitchMasterPIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in ['P','I','D','windup guard','D IIR (sec)','setpoint IIR (sec)','scale factor']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">rollMasterPID</span>
            <eeprom-input ng-model="$root.eepromConfig.rollMasterPIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in ['P','I','D','windup guard','D IIR (sec)','setpoint IIR (sec)','scale factor']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">yawMasterPID</span>
            <eeprom-input ng-model="$root.eepromConfig.yawMasterPIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in ['P','I','D','windup guard','D IIR (sec)','setpoint IIR (sec)','scale factor']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">thrustSlavePID</span>
            <eeprom-input ng-model="$root.eepromConfig.thrustSlavePIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in ['P','I','D','windup guard','D IIR (sec)','setpoint IIR (sec)','scale factor']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">pitchSlavePID</span>
            <eeprom-input ng-model="$root.eepromConfig.pitchSlavePIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in ['P','I','D','windup guard','D IIR (sec)','setpoint IIR (sec)','scale factor']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">rollSlavePID</span>
            <eeprom-input ng-model="$root.eepromConfig.rollSlavePIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in ['P','I','D','windup guard','D IIR (sec)','setpoint IIR (sec)','scale factor']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">yawSlavePID</span>
            <eeprom-input ng-model="$root.eepromConfig.yawSlavePIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in ['P','I','D','windup guard','D IIR (sec)','setpoint IIR (sec)','scale factor']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">pidBypass</span>
            <eeprom-input ng-model="$root.eepromConfig.pidBypass" label="bitfield"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">stateEstimation</span>
            <eeprom-input ng-model="$root.eepromConfig.stateEstimationParameters[$index]" precision="5" label="{{n}}" ng-repeat="n in ['2*Kp or beta','2*Ki']"/>
        </div>
        <div class="model-entry">
            <span class="model-entry-title">enable</span>
            <eeprom-input ng-model="$root.eepromConfig.enableParameters[$index]" precision="5" label="{{n}}" ng-repeat="n in ['vibration','angle']"/>
        </div>
    </div>
    </div>
</div>
