<div ng-controller="ledController">
  <div>
    <div class="label-title">
      MODE
    </div>
    <div>
      <div ng-repeat="mode in ledModes">
        <input type="radio" name="ledmode" ng-model="$parent.led.mode" ng-value="mode.code" />{{mode.name}}
      </div>
    </div>
  </div>
  <div>
    <div class="color-box">
      <div class="label-title">
        LEFT LED
      </div>
      <input color-picker ng-model="led.light.left"/>
    </div>
    <div class="color-box">
      <div class="label-title">
        RIGHT LED
      </div>
      <input color-picker ng-model="led.light.right" />
    </div>
  </div>
  <div>
    <div style="display: inline-block;">
      <input type="checkbox" class="led-green led-checkbox" style="height:22px;width:22px;margin:10px 20px;" ng-model="led.indicator.green">
        <div class="led-label" style="margin-left:10px;">Green Indicator</div>
      </input>
    </div>
    <div style="display: inline-block;">
      <input type="checkbox" class="led-green led-checkbox" style="height:22px;width:22px;margin:10px 20px;" ng-model="led.indicator.red">
        <div class="led-label" style="margin-left:10px;">Red Indicator</div>
      </input>
    </div>
  </div>
</div>
