<div ng-controller="motorsController">
    <div class="motor-view-levels">
        <div class="motor-view-level" ng-class="{'{{n}}':true}" ng-repeat="n in [0,1,2,3,4,5,6,7]">
            <div class="motor-view-level-title">CH{{n}}</div>
            <input class="motor-view-level-value" step="1" type="number" min="0" ng-model="motorValue[$index]" ng-change="changeMotorValue($index)" ng-focus="motorFocused[$index]=true" ng-blur="motorFocused[$index]=false" ng-model-options="{updateOn:'change'}"/>
            <div class="motor-view-level-label-min">-4096</div>
            <div class="motor-view-level-label-max">+4096</div>
            <div class="motor-view-level-zero-dashes"/>
            <div class="motor-view-level-zero-dashes-top"/>
            <div class="motor-view-level-bars">
                <div class="motor-view-level-bar-Fz"/>
                <div class="motor-view-level-bar-Tx"/>
                <div class="motor-view-level-bar-Ty"/>
                <div class="motor-view-level-bar-Tz"/>
                <div class="motor-view-level-bar-sum"/>
            </div>
        </div>
    </div>

    <div class="mixtable-factors">
        <div class="mixtable-row">
            <div class="mixtable-row-label">Fz Mix</div>
            <eeprom-input ng-model="$root.eepromConfig.mixTableFz[$index]" label="CH{{$index}}" ng-repeat="n in [0,1,2,3,4,5,6,7]"/>
        </div>
        <div class="mixtable-row">
            <div class="mixtable-row-label">Tx Mix</div>
            <eeprom-input ng-model="$root.eepromConfig.mixTableTx[$index]" label="CH{{$index}}" ng-repeat="n in [0,1,2,3,4,5,6,7]"/>
        </div>
        <div class="mixtable-row">
            <div class="mixtable-row-label">Ty Mix</div>
            <eeprom-input ng-model="$root.eepromConfig.mixTableTy[$index]" label="CH{{$index}}" ng-repeat="n in [0,1,2,3,4,5,6,7]"/>
        </div>
        <div class="mixtable-row">
            <div class="mixtable-row-label">Tz Mix</div>
            <eeprom-input ng-model="$root.eepromConfig.mixTableTz[$index]" label="CH{{$index}}" ng-repeat="n in [0,1,2,3,4,5,6,7]"/>
        </div>
    </div>

    <div style="height: 85px;">
        <div style="float: left;">
            <div class="led-red" ng-class="{'black-bg': motorsEnabledNeg}" id="motor-view-motors-enabled"><div class="led-label">MOTORS ENABLED</div></div>
            <div class="led-red" ng-class="{'black-bg': motorsOverrideNeg}" id="motor-view-motors-override"><div class="led-label">OVERRIDE MODE</div></div>
        </div>
        <div style="float: left;">
            <div class='button view-button' ng-click="enableMotors()">enable motors</div>
            <div class='button view-button' ng-click="overridePilot()">overide pilot commands</div>
            <div class='button view-button' ng-click="zeroMotors()">zero all motors now</div>
        </div>
    </div>

    <div class="mixtable-row">
      <div class="mixtable-row-label" style="width:200px;">Temporary RC control options</div>
      <div style="float: left;">
        <input type="checkbox" ng-model="RCenabled" ng-change="changeRC()">RC override enabled</input>
      </div>
      <div ng-repeat="n in ['thrust','pitch','roll','yaw']" style="float:left;margin:5px">
        <div style="float: left;">{{n}}</div>
        <input step="1" type="number" min="-2048" max="2047" ng-model="RC[$index]" ng-change="changeRC()" ng-model-options="{updateOn:'change'}"/>
      </div>
    </div>


    <div plot-series value="{x:state.timestamp_us, y:state.control}" labels="CH0 (usec)|CH1 (usec)|CH2 (usec)|CH3 (usec)|CH4 (usec)|CH5 (usec)" title="Control Vectors"/>
</div>
