<div ng-controller="signalsController">

    <div plot-series value="{x:state.timestamp_us, y:state.ppm}" labels="CH0 (usec)|CH1 (usec)|CH2 (usec)|CH3 (usec)|CH4 (usec)|CH5 (usec)" title="Received PPM Signals"/>

    <div class="command-settings">
        <div class="command-settings-channel-midpoints signals-fields">
            <eeprom-input ng-model="$root.eepromConfig.channelMidpoint[$index]" label="CH{{n}} Midpoint" ng-repeat="n in [0,1,2,3,4,5]"/>
        </div>
        <div class="command-settings-channel-deadzones signals-fields">
            <eeprom-input ng-model="$root.eepromConfig.channelDeadzone[$index]" label="CH{{n}} Deadzone" ng-repeat="n in [0,1,2,3,4,5]"/>
        </div>

        <div class="command-settings-assigned-channels signals-fields">
            <eeprom-input ng-model="$root.eepromConfig.assignedChannel[$index]" label="{{n}} Channel" ng-repeat="n in ['Throttle','Pitch','Roll','Yaw','AUX 1','AUX 2']"/>
        </div>

        <div class="command-settings-commandInversion">
            <div class="command-settings-label" style="width:105px">Invert Pitch Channel</div><input type="checkbox" class="command-settings-checkbox-inversion" ng-model="inversions[0]" ng-change="onInversionChange()"/>
            <div class="command-settings-label" style="width:105px">Invert Roll Channel</div><input type="checkbox" class="command-settings-checkbox-inversion" ng-model="inversions[1]" ng-change="onInversionChange()"/>
            <div class="command-settings-label" style="width:105px">Invert Yaw Channel</div><input type="checkbox" class="command-settings-checkbox-inversion" ng-model="inversions[2]" ng-change="onInversionChange()"/>
        </div>

        <div class="command-settings-scale-factors signals-fields signals-fields-wide">
            <div class="command-settings-master-row">
                <eeprom-input ng-model="$root.eepromConfig.thrustMasterPIDParameters[6]" label="Throttle to Altitude (meters)"/>
                <eeprom-input ng-model="$root.eepromConfig.pitchMasterPIDParameters[6]" label="Pitch to Angle (deg)"/>
                <eeprom-input ng-model="$root.eepromConfig.rollMasterPIDParameters[6]" label="Roll to Angle (deg)"/>
                <eeprom-input ng-model="$root.eepromConfig.yawMasterPIDParameters[6]" label="Yaw to Angle (deg)"/>
            </div>
            <div class="command-settings-slave-row">
                <eeprom-input ng-model="$root.eepromConfig.thrustSlavePIDParameters[6]" label="Throttle to Climb Rate (m/s)"/>
                <eeprom-input ng-model="$root.eepromConfig.pitchSlavePIDParameters[6]" label="Pitch to Rate (deg/s)"/>
                <eeprom-input ng-model="$root.eepromConfig.rollSlavePIDParameters[6]" label="Roll to Rate (deg/s)"/>
                <eeprom-input ng-model="$root.eepromConfig.yawSlavePIDParameters[6]" label="Yaw to Rate (deg/s)"/>
            </div>
        </div>
    </div>

    <div class="command-settings-aux-levels">
      <div class="led-green" ng-repeat="label in ['AUX1 LOW', 'AUX1 MID', 'AUX1 HIGH', 'AUX2 LOW', 'AUX2 MID', 'AUX2 HIGH']" ng-class="{'black-bg': auxBits[$index]}"><div class="led-label">{{label}}</div></div>
    </div>

    <p style="margin-top:20px">The master pid loop will be driven with these scaled command setpoints (target state values):</p>
    <div plot-series value="{x:state.timestamp_us, y:masterSetpoints}" labels="Fz (m)|Tx (deg)|Ty (deg)|Tz (deg)" title="Master PID Setpoints"/>

    <p style="margin-top:20px">If the master pid is bypassed, the slave pid loop will be driven with these scaled command setpoints (target state derivitive values):</p>
    <div plot-series value="{x:state.timestamp_us, y:slaveSetpoints}" labels="Fz (m/s)|Tx (deg/s)|Ty (deg/s)|Tz (deg/s)" title="Slave PID Setpoints"/>

    <p style="margin-top:20px">If both the master pid and the slave pid are bypassed, the airframe will be powered with these levels:</p>
    <div plot-series value="{x:state.timestamp_us, y:outputLevels}" labels="Fz (pwm counts)|Tx (pwm counts)|Ty (pwm counts)|Tz (pwm counts)" title="Direct PWM Output Levels"/>

</div>
