<div ng-controller="tuningController">

    <div style="margin-bottom:20px">
    Each of our four control vectors (thrust and three torques) is controlled using a cascaded PID controller.
    <br>
        <br>It is possible to bypass the master or slave PID loop to match common R/C "flight modes":
            <ul class="flight-mode-list">
                <li class="flight-mode-list-item"><span class="flight-mode-title"> "Angle" or "Rate" Mode [31]</span>
                    <div class="flight-mode-text">Bypass all master controllers and the Fz slave. This allows you to control the pitch, roll, and yaw rates using a feedback loop that compares the pilot setpoint to the gyroscope values.
                    </div></li>
                <li class="flight-mode-list-item"><span class="flight-mode-title"> "AHRS" or "Horizon" Mode [25]</span>
                    <div class="flight-mode-text">Bypass Fz master and slave and Tz master. This allows you to control the pitch and roll angles using the estimated pose of the flyer, while yaw input is interpreted as a target rotation rate.
                    </div></li>
                <li class="flight-mode-list-item"><span class="flight-mode-title"> "Yaw Stabilized" Mode [17]</span>
                    <div class="flight-mode-text">Bypass Fz master and slave only. This allows you to contorl the pitch and roll angles using the estimated pose of the flyer, while yaw input is interpreted as a target rotation rate.
                    </div></li>
                <li class="flight-mode-list-item"><span class="flight-mode-title"> "Ascent/Descent" Mode [1]</span>
                    <div class="flight-mode-text">We don't support this mode because the pilot input for thrust is considered to always be positive (and our kit controller has no thrust stick spring!) -- Feel free to code this up yourself!
                    </div></li>
                <li class="flight-mode-list-item"><span class="flight-mode-title"> "Altitude Hold" Mode [0]</span>
                    <div class="flight-mode-text">Enable all controllers.
                    </div></li>
            </ul>
        </div>

   <div class="pid-tuner">
        <div class="pid-tuner-parameters">
            <div class="pid-tuner-bypass">
                <input type="checkbox" class="pid-tuner-checkbox-bypass" ng-model="bypasses[0]" ng-change="onBypassChange()"/>
                <div class="model-entry-label">Bypass Controller</div>
            </div>
            <eeprom-input ng-model="$root.eepromConfig.thrustMasterPIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in tunerLabels"/>
        </div>
        <div plot-series value="{x:state.pid_master_Fz[0], y:getPidValues(state.pid_master_Fz)}" labels="setpoint|input|P|I|D|output" title="Fz MASTER PID"/>
    </div>
    <div class="pid-tuner">
        <div class="pid-tuner-parameters">
            <div class="pid-tuner-bypass">
                <input type="checkbox" class="pid-tuner-checkbox-bypass" ng-model="bypasses[4]" ng-change="onBypassChange()"/>
                <div class="model-entry-label">Bypass Controller</div>
            </div>
            <eeprom-input ng-model="$root.eepromConfig.thrustSlavePIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in tunerLabels"/>
        </div>
        <div plot-series value="{x:state.pid_slave_Fz[0], y:getPidValues(state.pid_slave_Fz)}" labels="setpoint|input|P|I|D|output" title="Fz SLAVE PID"/>
    </div>


    <div class="pid-tuner">
        <div class="pid-tuner-parameters">
            <div class="pid-tuner-bypass">
                <input type="checkbox" class="pid-tuner-checkbox-bypass" ng-model="bypasses[1]" ng-change="onBypassChange()"/>
                <div class="model-entry-label">Bypass Controller</div>
            </div>
            <eeprom-input ng-model="$root.eepromConfig.pitchMasterPIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in tunerLabels"/>
        </div>
        <div plot-series value="{x:state.pid_master_Tx[0], y:getPidValues(state.pid_master_Tx)}" labels="setpoint|input|P|I|D|output" title="Tx MASTER PID"/>
    </div>
    <div class="pid-tuner">
        <div class="pid-tuner-parameters">
            <div class="pid-tuner-bypass">
                <input type="checkbox" class="pid-tuner-checkbox-bypass" ng-model="bypasses[5]" ng-change="onBypassChange()"/>
                <div class="model-entry-label">Bypass Controller</div>
            </div>
            <eeprom-input ng-model="$root.eepromConfig.pitchSlavePIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in tunerLabels"/>
        </div>
        <div plot-series value="{x:state.pid_slave_Tx[0], y:getPidValues(state.pid_slave_Tx)}" labels="setpoint|input|P|I|D|output" title="Tx SLAVE PID"/>
    </div>


    <div class="pid-tuner">
        <div class="pid-tuner-parameters">
            <div class="pid-tuner-bypass">
                <input type="checkbox" class="pid-tuner-checkbox-bypass" ng-model="bypasses[2]" ng-change="onBypassChange()"/>
                <div class="model-entry-label">Bypass Controller</div>
            </div>
            <eeprom-input ng-model="$root.eepromConfig.rollMasterPIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in tunerLabels"/>
        </div>
        <div plot-series value="{x:state.pid_master_Ty[0], y:getPidValues(state.pid_master_Ty)}" labels="setpoint|input|P|I|D|output" title="Ty MASTER PID"/>
    </div>
    <div class="pid-tuner">
        <div class="pid-tuner-parameters">
            <div class="pid-tuner-bypass">
                <input type="checkbox" class="pid-tuner-checkbox-bypass" ng-model="bypasses[6]" ng-change="onBypassChange()"/>
                <div class="model-entry-label">Bypass Controller</div>
            </div>
            <eeprom-input ng-model="$root.eepromConfig.rollSlavePIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in tunerLabels"/>
        </div>
        <div plot-series value="{x:state.pid_slave_Ty[0], y:getPidValues(state.pid_slave_Ty)}" labels="setpoint|input|P|I|D|output" title="Ty SLAVE PID"/>
    </div>


    <div class="pid-tuner">
        <div class="pid-tuner-parameters">
            <div class="pid-tuner-bypass">
                <input type="checkbox" class="pid-tuner-checkbox-bypass" ng-model="bypasses[3]" ng-change="onBypassChange()"/>
                <div class="model-entry-label">Bypass Controller</div>
            </div>
            <eeprom-input ng-model="$root.eepromConfig.yawMasterPIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in tunerLabels"/>
        </div>
        <div plot-series value="{x:state.pid_master_Tz[0], y:getPidValues(state.pid_master_Tz)}" labels="setpoint|input|P|I|D|output" title="Tz MASTER PID"/>
    </div>
    <div class="pid-tuner">
        <div class="pid-tuner-parameters">
            <div class="pid-tuner-bypass">
                <input type="checkbox" class="pid-tuner-checkbox-bypass" ng-model="bypasses[7]" ng-change="onBypassChange()"/>
                <div class="model-entry-label">Bypass Controller</div>
            </div>
            <eeprom-input ng-model="$root.eepromConfig.yawSlavePIDParameters[$index]" precision="4" label="{{n}}" ng-repeat="n in tunerLabels"/>
        </div>
        <div plot-series value="{x:state.pid_slave_Tz[0], y:getPidValues(state.pid_slave_Tz)}" labels="setpoint|input|P|I|D|output" title="Tz SLAVE PID"/>
    </div>
</div>
